[Unit]
Description=Manages the {{ compose_project_name }} docker-compose systemd services
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{ compose_project_path }}
SyslogIdentifier={{ compose_project_service }}
RemainAfterExit=yes

{% if compose_registry_url is not none or compose_registry_username is not none -%}
Environment="DOCKER_CONFIG={{ compose_project_path }}/.docker/"
{% endif -%}
{% if compose_systemd_scope == 'user' -%}
Environment="DOCKER_HOST=unix:///run/user/{{ compose_systemd_user_uid }}/docker.sock"
{% endif -%}

ExecStartPre=-/usr/bin/docker compose pull --quiet --ignore-pull-failures
ExecStart=/usr/bin/docker compose up -d --remove-orphans

ExecStop=/usr/bin/docker compose down

ExecReload=/usr/bin/docker compose pull --quiet --ignore-pull-failures
ExecReload=/usr/bin/docker compose up -d --remove-orphans

[Install]
WantedBy={{ 'multi-user.target' if compose_systemd_scope == 'system' else 'default.target' }}
